
{#
 # Blog entry template
 #}

{% extends "_layout" %}

{% block content %}
	{% cache %}
    <article>
  		<h1>{{ entry.title }}</h1>
  		<p>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author.firstName }}</p>
  		
  		{% for block in entry.articleBody %}

      {% if block.type == "heading" %}

          <{{ block.headingLevel }}>{{ block.headingTitle }}</{{ block.headingLevel }}>

      {% elseif block.type == "paragraph" %}

          {{ block.paragraph}}

      {% elseif block.type == "image" %}

          {% set imageSource = block.imageSource.first() %}
          {% if imageSource %}
              <img src="{{ imageSource.getUrl() }}" width="{{ imageSource.getWidth() }}" height="{{ imageSource.getHeight() }}" alt="{{ block.caption }}">
          {% endif %}

          {% set caption = block.caption %}
          {% if caption %}
  					<div class="caption">{{ caption }}</div>
          {% endif %}

      {% elseif block.type == "pullquote" %}

          <blockquote>
              <p>{{ block.pullquoteTitle }}</p>
          </blockquote>

      {% endif %}

      {% endfor %}
    </article>
  {% endcache %}


{% endblock %}